@model EntitiyLayer.Concrete.Blog

@{
    ViewBag.Title = "UpdateBlog";
    Layout = "~/Views/Shared/AuthorLayout.cshtml";
}

<h2>UpdateBlog</h2>

<form class="form-group" method="post">
    @Html.Label("Blog ID")
    @Html.TextBoxFor(x => x.BlogID, new { @class = "form-control", @readonly = "readonly" })
    <br />
    @Html.Label("Blog Başlığı")
    @Html.TextBoxFor(x => x.BlogTitle, new { @class = "form-control" })
    <br />
    @Html.Label("Kategori")
    @*@viewbag ile dropdownliste kategorileri taşıdı*@
    @Html.DropDownListFor(x => x.CategoryID, (List<SelectListItem>)ViewBag.values, new { @class = "form-control" })
    <br />
    @Html.Label("Blog Resim yolu")
    @Html.TextBoxFor(x => x.BlogImage, new { @class = "form-control" })
    <br />
    @Html.Label("Blog Tarihi")
    @Html.TextBoxFor(m => m.BlogDate, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "date" })
    <br />
    @Html.Label("Blog Yazarı")
    @Html.DropDownListFor(x => x.AuthorID, (List<SelectListItem>)ViewBag.values2, new { @class = "form-control" })
    <br />
    @Html.Label("Blog içeriği")
    @Html.TextAreaFor(x => x.BlogContent, 5, 20, new { @class = "form-control" })
    <br />
    <button class="btn btn-success">Kaydet</button>
</form>